<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;<!--
        <a th:text="${configurations.get('sysAuthor')}">赵文静的博客网站</a>-->
        <a >赵文静的博客网站</a>
        <span class="ft-warn">&heartsuit;</span>&nbsp;
        <a>河南科技大学</a><br/>
        Powered by <a href="#" target="_blank" th:text="${configurations.get('sysCopyRight')}">2024年河南科技大学软件学院2003赵文静</a>
    </div>
</footer>
</html>